<% provide(:title, 'Welcome') %>

<div class="panel panel-primary center">
  <div class="panel-body">
    <h1>This is Nomicator</h1>

    <h2>
      Nomic on Rails
    </h2>

    <%= link_to "Sign in", '#', class: "btn btn-large btn-primary" %>
  </div>
</div>