<% provide(:title, @user.name) %>
<div class="row">
  <div class="col-md-4 sidebar">
    <div class="panel panel-primary">
      <div class="panel-heading">

        <%= gravatar_for @user %>
        <%= @user.name %>
      </div>
      <div class="panel-body">
        Player since <%= time_ago_in_words(@user.created_at) %> ago
      </div>
    </div>
    <div class="panel panel-default">
      <div class="panel-heading">
        <%= @user.name %>'s roles
      </div>
      <div class="panel-body">
        Example Role 1
      </div>
      <div class="panel-body">
        Example Role 2
      </div>
    </div>
  </div>
  <div class="col-md-8">
    <div class="panel panel-default">
      <div class="panel-heading">
        Example of a user activity post
      </div>
      <div class="panel-body">
        Lorem Ipsum
      </div>
    </div>
  </div>
</div>