<% if @user.errors.any? %>
    <div id="error_explanation">
      <div class="alert alert-danger">
        Please correct the following and try again
      </div>
      <ul>
        <% @user.errors.full_messages.each do |msg| %>
            <li>
              <%= msg %>
            </li>
        <% end %>
      </ul>
    </div>
<% end %>