@import "bootstrap";

/* colors */
$logocolor: #C900FF;

/* universal */

html {
  overflow-y: scroll;
}

body {
  padding-top: 70px;
}

form {
  padding-top: 20px

}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.jumbotron {
  text-align: center;
}

/* typography */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
}

h2 {
  font-size: 1.2em;
  letter-spacing: -1px;
  font-weight: normal;
  color: #999;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}

/* header */

#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: $logocolor;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 9px;
  padding-left: 9px;
  font-weight: bold;
  line-height: 1;
  &:hover {
    color: $logocolor;
    text-decoration: none;
  }
}

/* errors */
#error_explanation {
  color: #f00;
  ul {
    margin: 0 0 18px 0;
  }
}

.field_with_errors {
  @extend .has-error;
}